<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1 style="color: grey;">Welcome to Members Page</h1>
            <p>Create an account or login</p>
            <hr>
            <a href="/users/register" class="btn  mb-2" style="background-color: rgb(183, 218, 31); margin: 10px;"
            onMouseOver="this.style.color='blue'" onMouseOut="this.style.color='black'">Register</a>
            <a href="/users/login" class="btn" style="background-color: blue; color: rgb(248, 229, 206); margin: 10px;"
            onMouseOver="this.style.color='rgb(183, 218, 31)'" onMouseOut="this.style.color='rgb(248, 229, 206)'">Login</a>
        </div>
    </div>
</div>